* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}


.card {
  width: 750px;
  font-size: 12px;        
  display: flex;          
  flex-direction: column; 
  align-items: left;
  font-size: large;
  background: #fff;
  border-radius: var(--box-border-radius);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 360px;
  padding: 30px;
  align-self: center;
  background-color: white;
  height: 400px;
}

.img {
  position: absolute;
}

.btn {
  padding: 15px 30px;
  color: #fff;
  background-color: #008080;
  border-radius: 5px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
  border: none;
  position:absolute;
  margin-left: 550px;
  margin-top: 270px;
  font-weight: bold;
  font-size: large;
}


.location1 {
 width: 95px;
 position: absolute;
 padding:15px 20px 15px 15px;
 background-color: rgb(240, 237, 234); 
 border-radius: 30px;
 margin-top:280px;
}

.type {
  position: absolute;
  margin-top : 280px;
  margin-left: 130px;
  padding:15px 20px 15px 15px;
  background-color: rgb(240, 237, 234); 
  border-radius: 30px;
  margin-bottom: 50px; 
}

.jobe1 {
  position: absolute;
  margin-top:140px;
  margin-left:200px;
  padding-left: 200px;
}

.jobt1 {
  width: 400px;
}

.card1 {
  width: 320px;
  font-size: 12px;        
  position:absolute;
  align-items: left;
  font-size: large;
  background: #fff;
  border-radius: var(--box-border-radius);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 32px;
  margin-left: 20px;
  padding:20px;
  height: max-content;
}

.card2 {
  width: 320px;
  font-size: 12px;        
  position:absolute;
  align-items: left;
  font-size: large;
  background: #fff;
  border-radius: var(--box-border-radius);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 32px;
  margin-left: 1130px;
  padding:20px;
}

form.filter-content>.salary-range-wrap>div>label:last-child {
  text-align: right;
  grid-column: -2/-1;
}
.text-bold-14 {
  font-weight: 700;
  font-size: 14px;
}
.text-400-16, .text-bold-14 {
  font-family: Manrope;
  font-family: var(--refier-primary-font);
  font-style: normal;
  line-height: 1.4;
}

.opt {
  width :250px;
  height : 35px;
  border-color: rgb(206, 204, 204);
  margin-top: 10px;
  border-radius: 10px;
}

.Loc {
  margin-top: 10px;
}

.opt1 {
  width :250px;
  height : 35px;
  border-color: rgb(206, 204, 204);
  margin-top: 10px;
  border-radius: 10px;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 200px;
  margin-bottom: 50px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider1 {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.conf {
  color: #1f5262;
  font-weight: bold;
}

.wch {
  color: #1f5262;
  font-weight: bold;
  margin-top :5px;
  margin-bottom: 5px;
}

.fname {
  padding-top: 10px;
  padding-bottom: 5px;
}

.fname1 {
  width :250px;
  height : 35px;
  border-color: rgb(206, 204, 204);
  margin-top: 10px;
  border: 1px solid grey;
}

.email {
  width :250px;
  height : 35px;
  border-color: rgb(206, 204, 204);
  margin-top: 10px;
  border: 1px solid grey;
}

.phn {
  width :250px;
  height : 35px;
  border-color: rgb(206, 204, 204);
  margin-top: 10px;
  border: 1px solid grey;
}

.submit {
  width: 250px;
  height:40px;
  color: #fff;
  background-color: black;
  font-weight: bold;
}